In [398]:
import pandas as pd
import numpy as np

In [399]:
data = pd.read_excel("data.xlsx", converters= {'Bill Date': pd.to_datetime})

In [400]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1424 entries, 0 to 1423
Data columns (total 15 columns):
PS NO                         1424 non-null int64
Year                          1424 non-null object
Request No                    1424 non-null object
Component                     1424 non-null object
Consultant Name               1424 non-null object
Clinic Name                   1424 non-null object
Fimily Mgmbgr                 1424 non-null object
Nature Of Illness Category    1424 non-null object
Bill Date                     1424 non-null datetime64[ns]
Bill No.                      1423 non-null object
Amount                        1424 non-null int64
Status                        1424 non-null object
Amount Involved               1424 non-null object
Remarks                       1424 non-null object
Fudged / Non-fudged           1424 non-null object
dtypes: datetime64[ns](1), int64(2), object(12)
memory usage: 167.0+ KB

In [401]:
data.head(2)

,PS NO,Year,Request No,Component,Consultant Name,Clinic Name,Fimily Mgmbgr,Nature Of Illness Category,Bill Date,Bill No.,Amount,Status,Amount Involved,Remarks,Fudged / Non-fudged
0,193058,2016-17,17C01CONS012868,Domiciliary,Dr.Suresh Chandra Mohapatra,Arogya Niketan,Jyoti Rinjin Swiin,UTI,2016-04-09,9746,9746,Processed,9746,Handwriting on prescription and pharmacy bills...,Fudged
1,193058,2016-17,17C01CONS012863,Domiciliary,Dr.Suresh Chandra Mohapatra,Arogya Niketan,Bhirit Chindri Swiin,Bronchitis,2016-05-05,29846,7653,Processed,7653,Handwriting on prescription and pharmacy bills...,Fudged

In [402]:
data['Component'].value_counts()

Domiciliary     892
DOMICILIARY     449
Dental           34
DENTAL           19
Spectacle        18
SPECTACLE        10
Gluco Meter       1
Domiciliary       1
Name: Component, dtype: int64

In [403]:
data['Component'] = data['Component'].str.lower()

In [404]:
data['Component'].value_counts()

domiciliary     1341
dental            53
spectacle         28
domiciliary        1
gluco meter        1
Name: Component, dtype: int64

In [405]:
data['Consultant Name'] = data['Consultant Name'].str.lower()
data['Clinic Name'] = data['Clinic Name'].str.lower()
data['Nature Of Illness Category'] = data['Nature Of Illness Category'].str.lower()

In [406]:
data.head(2)

,PS NO,Year,Request No,Component,Consultant Name,Clinic Name,Fimily Mgmbgr,Nature Of Illness Category,Bill Date,Bill No.,Amount,Status,Amount Involved,Remarks,Fudged / Non-fudged
0,193058,2016-17,17C01CONS012868,domiciliary,dr.suresh chandra mohapatra,arogya niketan,Jyoti Rinjin Swiin,uti,2016-04-09,9746,9746,Processed,9746,Handwriting on prescription and pharmacy bills...,Fudged
1,193058,2016-17,17C01CONS012863,domiciliary,dr.suresh chandra mohapatra,arogya niketan,Bhirit Chindri Swiin,bronchitis,2016-05-05,29846,7653,Processed,7653,Handwriting on prescription and pharmacy bills...,Fudged

In [407]:
clause2 = pd.DataFrame()
clause2['count'] = data.groupby(['PS NO', 'Clinic Name'])['Clinic Name'].count()
clause2 = clause2.reset_index()
clause2.head(2)

   PS NO                                        Clinic Name  count
0  82349  d.elangoan , b.sc.,  d.opt. p m o a, eye consu...      2
1  82349           dr. ajay sinha, md and dr.atul ahuja ent      8

In [408]:
data.head(2)

,PS NO,Year,Request No,Component,Consultant Name,Clinic Name,Fimily Mgmbgr,Nature Of Illness Category,Bill Date,Bill No.,Amount,Status,Amount Involved,Remarks,Fudged / Non-fudged
0,193058,2016-17,17C01CONS012868,domiciliary,dr.suresh chandra mohapatra,arogya niketan,Jyoti Rinjin Swiin,uti,2016-04-09,9746,9746,Processed,9746,Handwriting on prescription and pharmacy bills...,Fudged
1,193058,2016-17,17C01CONS012863,domiciliary,dr.suresh chandra mohapatra,arogya niketan,Bhirit Chindri Swiin,bronchitis,2016-05-05,29846,7653,Processed,7653,Handwriting on prescription and pharmacy bills...,Fudged

In [409]:
clause4 = pd.DataFrame()
clause4 = data.groupby(['PS NO','Nature Of Illness Category'])['Fimily Mgmbgr'].count()
clause4 = clause4.reset_index()
clause4.head(10)

   PS NO                      Nature Of Illness Category  Fimily Mgmbgr
0  82349     anemic ,polycistic  and mensural depression              4
1  82349          anosmia and urinal bacterial infection              2
2  82349                                       back pain              2
3  82349                  back pain and climaxes problem              1
4  82349                    back pain l4 and spondilitis              2
5  82349    bloaling of abdomen , diarrhea and sinunitis              1
6  82349                blood pressure  & rheumatic pain              6
7  82349               body pain and jaundice bilurubbin              2
8  82349                                        diabetic             11
9  82349  diabetic and prostate specific antigen problem              1

In [410]:
data['Bill Name'] = pd.to_datetime(data['Bill Date'], format = '%y%m%d')

In [411]:
data.groupby(['PS NO','Bill Date'])['Consultant Name'].count().reset_index().head(5)

   PS NO  Bill Date  Consultant Name
0  82349 2016-04-09                4
1  82349 2016-04-22                1
2  82349 2016-04-26                4
3  82349 2016-04-30                1
4  82349 2016-05-20                5

In [412]:
data['year'] = data['Bill Date'].dt.year
data['month'] = data['Bill Date'].dt.month
data['day'] = data['Bill Date'].dt.day

In [413]:
data.head(2)

,PS NO,Year,Request No,Component,Consultant Name,Clinic Name,Fimily Mgmbgr,Nature Of Illness Category,Bill Date,Bill No.,Amount,Status,Amount Involved,Remarks,Fudged / Non-fudged,Bill Name,year,month,day
0,193058,2016-17,17C01CONS012868,domiciliary,dr.suresh chandra mohapatra,arogya niketan,Jyoti Rinjin Swiin,uti,2016-04-09,9746,9746,Processed,9746,Handwriting on prescription and pharmacy bills...,Fudged,2016-04-09,2016,4,9
1,193058,2016-17,17C01CONS012863,domiciliary,dr.suresh chandra mohapatra,arogya niketan,Bhirit Chindri Swiin,bronchitis,2016-05-05,29846,7653,Processed,7653,Handwriting on prescription and pharmacy bills...,Fudged,2016-05-05,2016,5,5

In [414]:
data['year'].value_counts()

2016    1358
2017      59
2015       6
1916       1
Name: year, dtype: int64

In [418]:
data.groupby(['PS NO','year'])['Year'].count().reset_index().sort_values(by = 'Year', ascending=False).head()

       PS NO  year  Year
16    333848  2016    93
57  20066182  2016    90
17    333859  2016    67
8     184648  2016    62
5     122898  2016    60

In [428]:
clause3 = pd.DataFrame()
clause3 = data.groupby(['PS NO','Consultant Name','day'])['year'].count().reset_index()
clause3.head(2)

   PS NO                  Consultant Name  day  year
0  82349        apollo hospital - chennai    8     1
1  82349  apollo pharmacy - nurse station    8     1